<div class="main" style="flex: 1 1 auto; display: flex; align-items: center; justify-content: center;">

  <div class="container-order-form" style="padding-top: 30px; margin-top: 115px; height: 70vh;">

    <h3 style="align-self: center;">Отредактировать информацию о модели #{{entry.id}}</h3>

    <div class="form-wrapper" role="main">
      <form name="edit" method="post" action="/products/edit/{{entry.id}}" data-id="{{entry.id}}"
        enctype="multipart/form-data" style="justify-content: center; align-items: flex-start;">

        <div class="row" style="display: flex; flex-direction: row; align-items: flex-start;">
          <div class="col" style="display: flex; flex-direction: column; align-items: flex-start;">
            <div class="product_title" style="margin: 20px;">
              <label for="product_title_input">Наименование модели:</label>
              <input id="product_title_input" name="title" type="text" value="{{entry.title}}"
                style="margin-left: 15px">
            </div>

            <div class="product_description" style="margin: 20px;">
              <label for="product_description_input">Описание модели:</label>
              <input id="product_description_input" name="description" type="text" value="{{entry.description}}"
                style="margin-left: 15px">
            </div>

            <div class="product_price" style="margin: 20px;">
              <label for="product__input">Стоимость:</label>
              <input id="product_price_input" name="price" type="integer" value="{{entry.price}}"
                style="margin-left: 15px">
            </div>
          </div>

          <div class="col" style="display: flex; flex-direction: column;">
            <div class="product_img" style="margin: 20px; display: flex; align-items: flex-start;">
              <label for="product_img">Изображение модели:</label>
              <img src="{{entry.img}}" alt="тут должно было быть изображение"
                style="width: 300px; border: 1px solid black; margin-left: 15px">
            </div>

            <div style="margin: 20px;">
              <label for="file-update"></label>
              <input id="file-update" type="file" name="img" id="img" {{!-- multiple --}} style="margin-left: 15px">
            </div>
          </div>
        </div>

        <input type="submit" value="Внести изменения" class="button" style="margin-left: 20px; align-self: center;">

      </form>
    </div>
  </div>
</div>
